{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ABOUT US</title>
    <link rel="stylesheet"
    href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/mystyle.css' %}">
</head>
<body>
    <div class="about-section">
        <h1>About Us Page</h1>
        <p>We are developer & we develop Something NEW</p>
        <p>Resize the browser window to see that this page is responsive by the way.</p>
      </div>
      
      <h2 style="text-align:center">Our Team</h2>
      <div class="row">
        <div class="column">
          <div class="card">
            <img src="assets/images/flower.jpg" alt="Yuvraj" style="width: 100%">
            <div class="container">
              <h2>Yuvraj Pokharkar</h2>
              <p class="title">CEO & Founder</p>
              <p>Software developer Create Something NEW</p>
              <p>yuvrajpokharkar111@gmail.com</p>
              <p><button class="button">Contact</button></p>
            </div>
          </div>
        </div>
      
        <div class="column">
          <div class="card">
            <img src="assets/Images/Vishal.jpg" alt="Vishal" style="width:100%">
            <div class="container">
              <h2>Vishal Patil</h2>
              <p class="title">Art Director</p>
              <p>create new think and apply & see magic</p>
              <p>vishalpawar231@gmail.com</p>
              <p><button class="button">Contact</button></p>
            </div>
          </div>
        </div>
      
        <div class="column">
          <div class="card">
            <img src="assets/Images/Dnyanu.jpg" alt="Dnyaneshwari" style="width:100%">
            <div class="container">
              <h2>Dnyaneshwari Shinde</h2>
              <p class="title">Designer</p>
              <p>Design Better to view beautiful pages</p>
              <p>dnyaneshwarishinde1@gmail.com</p>
              <p><button class="button">Contact</button></p>
            </div>
          </div>
        </div>
      </div>
</body>
</html>