<div class="row m-2" >
    <div class="col-md-2" style="background-color:#DOBDF4">
      <h5><a href="">Next Get the Best Deals</a> </h5>
      <br>
      <h5>filter by BRAND</h5>
      <a href="/index">All</a><br>
      <a href="/filterbycategory/menwear">Menwear</a><br>
      <a href="/filterbycategory/womenwear">Womenwear</a><br>
      <a href="/filterbycategory/toys">Toys</a><br>
      <a href="/filterbycategory/home accessories">Home Accessories</a><br>
      <h5>Sort Brand by Price</5><br>
      <a href="/sort/0">Low to high</a><br>
      <a href="/sort/1">High to low</a><br>
      <h5>Range of price</5>
      <form action='/range' class='m-1'>
        Min: <input type="text" name="min" width="50px"><br>
        Max: <input type="text" name="max"><br>
        <input type="submit" class="btn btn-"style="background-color: blue" value="search">
      </form>
    </div> 
    <div class="col-md-10" >