<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Collection</title>
</head>
<body>
    <form action = "/studinfo" method="post">
        {% csrf_token %}
        <table>
            <h3 align="centre" > Add Wear </h3>

            <table align="centre" ></table>
            <tr>
                <td>Name: </td>
                <td> <input type="text" name="name"></td>
            </tr>

            <tr>
                <td>Category: </td>
                <td> <input type="text" name="wecategory"></td>
            </tr>

            <tr>
                <td>Price: </td>
                <td> <input type="text" name="weprice"></td>
            </tr>

            <tr>
                <td align="centre" colspan="2"> <input type="submit" value="Add Details"></td>
            </tr>
        </table>
    </form>
</body>
</html>